* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
  
a {
    text-decoration: none;
}  

@keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
}